@font-face {
    font-family: darkadam;
    src: url(../Fonts/Dark\ Adam.ttf);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.logo{
    display: flex;
    height: 100px;
}

h1 {
    font-size: 100px;
    font-family: darkadam;
    border-style: outset;
    border-color: #dccaca;
    border-radius: 20px;
    border-width: 10px;
    text-align: center;
}
h1 a{
    text-decoration: none;
    color: orange;
}

.cartel-inicio{
    background-color: rgb(0, 0, 0);
    text-decoration:none;
    text-transform: uppercase;
    color: orange;
    border: 2px solid orange;
    padding: 0.1cm;
    font-size: 20px
}

.menu{
    display: flex;
    list-style-type: none;
    justify-content: center;
    border-style: solid;
    background-color: #1b263b;
    margin: 0;
}
.menu li a{
    text-decoration: none;
    color: gray;
    cursor: crosshair;
}
.menu li{
    padding: 1em;
    border-right:  1px solid gray;
    border-left: 1px solid gray;
}
.menu li:hover{
    background-color: #2a3240;
}

.menu li a:hover{
    color: orange;
}

@media only screen and (min-width: 0px) and (max-width: 444px) {
    .menu li{ font-size: 10px;

    }
    
}

#logoresponsive{
    text-align: center;
    color: orange;
    padding: 15px;
    font-size: 20px;
}

#logoresponsive a{
    text-decoration: none;
}

#logoresponsive a:hover{
    color: orange;
}

/* Index.html */ /* Index.html */ /* Index.html */ /* Index.html */ /* Index.html */ /* Index.html */

.contenedor{
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 80vw;
    margin: auto;
    text-align: center;
    background-color: #1c1f24;
}
.columna1{
    color: white;
    display: flex;
    justify-content: left;
    flex-direction: column;
    width: 25%;
}
.columna1 span{
    color: orange;
}

.subtitulo1{
    color: orange;
    text-transform: uppercase;
    text-align: center;
    list-style-type: none;
    margin-top: 50px;
}

.columna2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    margin-bottom: 100px;
}

h2{
    color: orange;
    text-transform: uppercase;
}


.subtitulo-medio{
    text-align: center;
    padding: 50px;
    font-weight: bold;
    text-transform: uppercase;
}

.noticia {
    color: white;
    display: flex;
    text-justify: auto;
    flex-direction: column;
    text-decoration:none;
    text-align: center;
    padding: 2em;
    background-color: #2f3844;
    border-bottom: 1px solid gray;
}

.noticia:hover{
    background-color:#2a3240;
}

.columna3{
    display: flex;
    justify-content: right;
    flex-direction: column;
    width: 25%;
}

.noticia-derecha{
    display: flex;
    justify-content: right;
    flex-direction: column;
    text-align: center;
    font-size: 1rem;
    font-weight: lighter;
    margin-top: 50px;
}

.videosimple{
width: 250px;
padding: 1em;
}

/* Galeria.html *//* Galeria.html *//* Galeria.html *//* Galeria.html *//* Galeria.html *//* Galeria.html */

.galeria-responsive{
    width: 100%;
    min-height: 500px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(7, 200px);
    grid-gap: 10px;
    padding-top: 50px;
    padding: 20px;

}

.galeria-border-r{
    border: 3px solid orange;
    background-size: cover;
    background-position: center;
    padding-top: 50px;
    border-radius: 10px;
    transition: all 0.9s;
}
.galeria-border-r:hover{
    transform: scale(1.04);
    transition: all 0.9s;
    filter: sepia(100%);
}

#lukenn{
    background-image: url(../Img/luken.jpg);
}

#b1tt{
    background-image: url(../Img/b1t.jpg);
}

#s1mplee{
    background-image: url(../Img/simple1.jpg);
}

#karrigann{
    background-image: url(../Img/karrigan.jpg);
}

#monitoress{
    background-image: url(../Img/monitorcs.jpg);
}

#cadiann{
    background-image: url(../Img/cadiaN.jpg);
}

#cs22{
    background-image: url(../Img/cs2.jpg);
}

footer{
    background-color: #1b263b;
    color: #fff;
    text-align: center;
    padding: 20px;
}

footer p{
    margin-bottom: 20px;
    color: orange;
    font-size: 25px;
    text-shadow: 0 0 10px black, 0 0 10px black;
}

footer a{
    color: orange;
    font-size: 30px;
    letter-spacing: 15px;
    text-decoration: none;
    text-shadow: 0 0 10px black, 0 0 10px black;
}

@media only screen and (min-width: 480px) {
    #logoresponsive{
        font-size: 40px;
    }
    .galeria-responsive{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 200px);
    grid-gap: 10px;
    padding: 20px;
    padding-top: 50px;
}
#karrigann{
    grid-column: 1/3;
}
}

@media only screen and (min-width:570px){
.galeria-responsive{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 200px);
    grid-gap: 10px;
    padding: 20px;
    padding-top: 50px;
}
#cadiann{
    grid-column: 3/4;
    grid-row: 2/4;
}
}

@media only screen and (min-width: 768px){
    #logoresponsive{
        font-size: 80px;
    }
    .galeria-responsive{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 200px);
        background-position: center ;
        background-size: cover;
        grid-gap: 20px 5px;
        padding: 20px;
        padding-top: 50px;

    }
    #lukenn{
        grid-column: 1/2;
        grid-row: 1/3;
    }
    #cs22{
        grid-column: 2/4;
        grid-row: 1/2;
    }
    #b1tt{
        grid-column: 2/3;
        grid-row: 2/3;
    }
    #cadiann{
        grid-column: 3/4;
        grid-row: 2/4;
    }
    #monitoress{
        grid-column: 1/3;
        grid-row: 3/4;
    }
    #s1mplee{
        grid-column: 1/2;
        grid-row: 4/5;
    }
    #karrigann{
        grid-column: 2/4;
        grid-row: 4/5;
    }
}

@media only screen and (min-width: 1024px) {
    #logoresponsive{
        font-size: 100px;
    }
    .galeria-responsive{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 400px 200px 400px 400px;
        padding-top: 50px;
    }
    
    #karrigann{
        background-position: unset;
    }
}

/* Partidos.html */ /* Partidos.html */ /* Partidos.html */ /* Partidos.html */ /* Partidos.html */ 

.logo-partidos{
    height: 25px;
}

.container{
    padding-top: 50px;
    padding-bottom: 50px;
}

.container a{
    display: flex;
    border: 2px solid orange;
    justify-content: center;
    padding: 50px;
    letter-spacing: 5px;
    background-color: #1b263b;
    color: orange;
}

/* Estadisticas.html */ /* Estadisticas.html */ /* Estadisticas.html */ /* Estadisticas.html */

.top-players-padre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
}

.top-players-ul{
    color: #87a3bf;
    font-size: 25px;
    border: 2px solid gray;
    width: 300px;
    background-color: #1b263b;
    list-style-type: none;
    text-align: left;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}
.top-players-ul li{
    padding: 15px;
    border: 1px solid gray;
}
.top-players-cara{
    height: 30px;
    width: 30px;
}
.top-players-bandera{
    height: 18px;
}

.section-top-players{
    width: 100%;
    display: flex;
    justify-content: center;
}

.kd{
    font-size: 15px;
}

/* Resultados.html */ /* Resultados.html */ /* Resultados.html */ /* Resultados.html */ /* Resultados.html */

.resultados-padre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
}
.resultados-ul{
    color: #87a3bf;
    font-size: 25px;
    border: 2px solid gray;
    width: 370px;
    background-color: #1b263b;
    list-style-type: none;
    margin-top: 50px;
}

.resultados-ul li{
    font-size: 20px;
    color: #929a9e;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid gray;
}

.victoria{
    color: green;
}

.derrota{
    color: red;
}

.section-resultados{
    width: 100%;
    display: flex;
    justify-content: center;
}